.text{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

.textp{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 23px;
}

body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.824), rgba(255, 255, 255, 0.921)), url(/img/sfondo.jpg);
}